@charset "utf-8"; 
@import "common";
section{ 
    width:100%;
    margin-top:0.94rem;
    .rotate{
        width: 100%;
        height: 1.73rem;
        position:relative;
        overflow: hidden;
       .carousel-list{
            height: 1.73rem;
            position:absolute;
            left:0;
            top:0;
            li{
                height:1.73rem;
                float:left;
                img{
                    height:1.73rem;
                }
            }
        }
        .dots{
            position:absolute;
            bottom:0.15rem;
            left:1.7rem;
            width:1rem;
            a{
                display:inline-block;
                float:left;
                width:0.07rem;
                height:0.07rem;    
                border-radius: 50%;
                margin-right:6px;
                background:#6e6b6a;
            }
            .active{
                background:#b63b34;
                
            }
        }
    }
    .classify{
        width:100%;
        height:0.6rem;
        border-bottom:1px solid #ebecee;
        justify-content: space-between;
        a{
            width:48%;
            display:flex;
            justify-content: center;
            img{
                display:block;
                width:0.22rem;
                height:0.22rem;
                margin-right:0.16rem;
            }
            span{
                display:block;
                font-size:14px;
                color:#070707;
            }
        }
        
        i{
            width:2px;
            height:0.43rem;
            background:url(../imgs/bg06.png) repeat-y;
       }
    }
    .hot{
        height:0.52rem;
       i{
            width:2px;
            height:0.31rem;
            background:url(../imgs/bg06.png) repeat-y;
       }
    }
    .first{
        border-top:1px solid #ebecee;
    }
    .list{
        width:100%;
        background:#f3f4f6;
        .tit{
            width:100%;
            height:0.6rem;
            line-height:4;
            font-size:16px;
            color:#1c1e1c;
            background:#f3f4f6;
            .bg1{
                display:inline-block;
                width:0.03rem;
                height:0.16rem;
                margin-right:7px;
            }
            .bg2{
                display:inline-block;
                width:0.1rem;
                height:0.16rem;
                margin-left:7px;
            }
        }
        .pay{
            width:100%;
            height:1.26rem;
            justify-content: space-between;
            border-top:1px solid #ebecee;
            margin-top:2px;            
            .left{
                display:block;
                width:1.26rem;
                height:1.26rem;
            }
            .right{
                width:2.4rem;
                height:1.26rem;
                border-top:1px solid #ebecee;
                p{
                    height:0.47rem;
                    display:block;
                    line-height:0.45rem;
                    font-size:16px;
                    color:#1c1e1c;
                }
                span{
                    height:0.28rem;
                    display:block;
                    font-size:13px;
                    color:#6e6f71;
                }
                b{
                    display:block;
                    height:0.27rem;
                    font-weight:normal;
                    font-size:13px;
                    color:#d02b22;
                }

            }
        }
        .content{
            width:100%;
            background:#ffffff;
            justify-content: space-between;
        }
        .recomm{
            li{
                width:33%;
                a{
                    display:block;
                    img{
                        display:block;
                        width:1.24rem;
                        height:1.18rem;
                    }
                }
                p{
                    height:0.6rem;
                    line-height: 2;
                    padding:5px;
                    font-size:13px;
                    color:#0d0f0e;
                    box-sizing: border-box;
                }
            }
        }
    }
}